:root {
  --brand: #1aa892;
  --accent: #553897;
  --success: #0da74d;
  --negative: #b74271;
  --grey: #b3b2b8;
  --dark-grey: #928da5;
  --darker: #2f2c3a;
  --dark: #464257;
  --white: #FFF;
  --black: #000;
  --hover: var(--accent);
  --disabled: var(--dark-grey);
}

.dark-mode {
  --white: var(--dark);
  --grey: var(--darker);
  --dark-grey: var(--dark);
  --hover: var(--negative);
  --disabled: var(--grey);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  position: relative;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--grey);
  font-family: Montserrat, Oswald, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: var(--grey);
  margin: 2rem 0;
  padding: 2rem;
  height: 50vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr 2fr;
  place-items: center;
}

@media only screen and (max-width: 800px) {
  main { grid-template-columns: 1fr; }
}

