:host {
  display: grid;
  grid-template-columns: 0fr 3fr 1fr;
  margin: 0 2rem;
  place-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--dark-grey) 2px 2px 6px;
  border-radius: 1rem;
  height: 6rem;
}
span {
  font-size: 1.5rem;
  color: var(--disabled);
  padding: 1rem;
}
input.disabled {
  color: var(--disabled);
  cursor: copy;
}
input {
  border: none;
  visibility: visible !important;
  background: var(--white);
  font-family:  Oswald, monospace;
  font-size: 2rem;
  font-weight: bold;
  max-width: 20vw;
}
@media (max-width: 800px) {
  input {
    min-width: 48vw;
  }
}
input:focus {
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  visibility: visible !important;
  color: var(--brand);
  font-size: 2rem;
  font-family:  Oswald, monospace;
  font-weight: bold;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: var(--white);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  min-width: 6.5rem;
}

select:hover {
  color: var(--hover);
}
select:active, select:focus {
  outline: none;
  box-shadow: none;
}
div:hover:after {
  border-top: 5px solid var(--hover);
}
div:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid var(--brand);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

::selection {
  color: var(--white);
  background: var(--brand);
}

