<template>
  <div class="alert">
    <strong>Alert!</strong>
    <span onclick="this.parentElement.style.display='none';">&times;</span> 
  </div>
</template>

<style>
.alert {
  display: none;
  grid-template-columns: 10fr 1fr;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  color: black;
  align-items: center;
  background-color: var(--brand);
  box-shadow: var(--dark-grey) -4px -2px 6px;
  transition:display .2s;
}

span {
  margin-left: 15px;
  color: white; 
  font-weight: bold;
  float: right;
  font-size: 3rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

span:hover {
  color: var(--accent);
}
</style>

<script>
const $alert = document.querySelector('alert-component')

export default {
  name: 'alert-component',
  // onClick() { },
  show(text, color) {
    const $$alert = $alert.shadowRoot.querySelector('.alert')
    const $$text = $alert.shadowRoot.querySelector('strong')
    $$text.innerText = text
    $$alert.style.backgroundColor = color
    $$alert.style.display = 'grid'
    setTimeout(() => {
      $$alert.style.display = 'none'
    }, 3000)
  }
}
</script>
