<template>
  <div>
    <strong>Alert!</strong>
    <span onclick="this.parentElement.style.display='none';">&times;</span> 
  </div>
</template>

<style>
strong {
  color: white;
}
div {
  opacity: 0.8;
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 0px;
  width: auto;
  padding: 1rem 4rem 1rem 1rem;
  font-size: 1.2rem;
  color: black;
  align-items: center;
  background-color: var(--brand);
  box-shadow: var(--dark-grey) -4px -2px 6px;
  border-top-right-radius: 2rem;
}

span {
  margin-left: 15px;
  position: absolute;
  right: 1rem;
  color: white; 
  font-weight: bold;
  float: right;
  font-size: 3rem;
  line-height: 20px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

span:hover {
  transform: rotate(90deg);
}
</style>

<script>
const $alert = document.querySelector('alert-component')

export default {
  name: 'alert-component',
  methods: {
    show(text, color = 'accent', timeout = 2000) {
      const $box = $alert.shadowRoot.querySelector('div')
      const $text = $alert.shadowRoot.querySelector('strong')
      $text.innerHTML = text
      $box.style.backgroundColor = `var(--${color})`
      $box.style.display = 'grid'
      setTimeout(() => $box.style.display = 'none', timeout)
    }
  }
}
</script>
