<template>
  <span><p>made with <i>&#128420;</i> by</p><a href="mailto:metaory@gmail.com">metaory@gmail.com</a></span>
</template>

<style>
span {
  color: var(--dark);
  font-family: Oswald, monospace;
  font-weight: 200;
  position: fixed;
  bottom: 0;
  display: grid;
  place-items: center;
  width: 100%;
}
p {
  line-height: 0.5rem;
  margin: 0;
}
a {
  color: var(--brand);
  opacity: 0.7;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  opacity: 1;
}
i {
  opacity: 0.6;
  font-size: 1.2rem;
  padding-right: 4px;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
    );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

</style>

<script>
export default { name: 'footer-component', }
</script>
