<template>
  <div>vanilla web component POC</div>
  <button onclick="document.body.classList.toggle('dark-mode');">
    <img class="mama" src="./assets/theme.png" width="28">
  </button>
</template>

<style>
:host {
  display: grid;
  grid-template-columns: 6fr 1fr;
  box-shadow: var(--dark) -1px 1px 6px;
}
div {
  text-transform: capitalize;
  background: var(--brand);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 4vh;
  text-align: left;
}
button {
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--accent);
}
</style>

<script>
export default { name: 'header-component', }
</script>
