<template> </template>

<style>
:host {
  display: grid;
  text-align: center;
  place-content: center;
  align-content: baseline;
  height: 7rem;
  background: -webkit-linear-gradient(var(--dark-grey), var(--grey));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>

<script>
const MAX_STORAGE_LENGTH = 7
const STORAGE_KEY = 'currency-history'

const $history = document.querySelector('history-component')

const prependToDom = ({ srcAmount, srcSymbol, dstAmount, dstSymbol}) => {
  const div = document.createElement("div");
  div.innerHTML = `${srcAmount}${srcSymbol} &#10095; ${dstAmount}${dstSymbol}`
  $history.shadowRoot.prepend(div)
}

const fetchStorage = () => {
  try { return JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]') }
  catch (err) { localStorage.removeItem(STORAGE_KEY); return []; }
}

const addToStorage = (currencyProxy) => {
  const list = fetchStorage()
  list.unshift(currencyProxy)
  if (list.length > MAX_STORAGE_LENGTH) list.pop()
  localStorage.setItem(STORAGE_KEY, JSON.stringify(list))
}

window.addEventListener('converted', (event) => {
  const { currencyProxy } = event.detail
  prependToDom(currencyProxy)
  addToStorage(currencyProxy)
})

setTimeout(() => fetchStorage().reverse().forEach((x) => prependToDom(x)), 0)

export default { name: 'history-component', }
</script>
