<template>
  <button> 
    <img src="./assets/switch.svg" width="28">
  </button>
</template>

<style>
button {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  box-shadow: var(--dark-grey) 0px 0px 6px;
  border: none;
  color: var(--white);
  font-weight: bold;
  background: var(--brand);
  transform: rotate(0deg);
  transition: background-color 0.2s ease, transform 0.2s linear;
}
img {
  margin-top: 2px;
}
button:hover {
  background: var(--hover);
  transform: rotate(180deg);
}
@media (max-width: 800px) {
  button {
    transform: rotate(90deg);
    padding: 8px 0;
  }
  button:hover {
    transform: rotate(270deg);
  }
}
</style>

<script>
export default {
  name: 'switch-component',
  events: {
    click() {
      window.dispatchEvent(new CustomEvent('switch:currency'))
    }
  }
}
</script>
